.manage-token-attributes {

  h5.ui.header {
    margin-top: 1rem;
  }

  .go-back {
    margin-bottom: 40px;
  }

  .ui.grid {
    .row {
      padding-bottom: 0;
    }
  }

  .column {

    &.flex {
      display: flex !important;
      align-items: center;
    }
  }

  .ui.form {
    .field {
      margin: 1rem 0;
    }
  }

  .button-group {
    display: flex;
  }

  .ui--Dropdown {
    .ui--Labelled-content {

      .ui.multiple.dropdown {
        .ui.label {
          margin: 0 3px;
        }
      }
    }
  }
}
