.ui--Labelled-content {

  .TextAreaWithDropdown {

    textarea {
      border: 1px solid var(--border-color);
      border-radius: 8px;
      color: var(--input-text-color);
      background: var(--input-background-color);
      padding: 8px 16px;
      width: 100%;
      font-size: 16px;

      &::-webkit-input-placeholder {
        color:rgba(191,191,191,.87)
      }

      &::-moz-placeholder {
        color:rgba(191,191,191,.87)
      }

      &:-ms-input-placeholder {
        color:rgba(191,191,191,.87)
      }

      &:active {
        background: var(--input-background-color);
        border: 1px solid var(--border-color);
        outline: none;
      }

      &:focus {
        background: var(--input-background-color);
        border: 1px solid var(--border-color);
        outline: none;
      }

      &:active, &:focus {
        &::-webkit-input-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }

        &::-moz-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }

        &:-ms-input-placeholder {
          color: rgba(115, 115, 115, 0.87);
        }
      }

      &:disabled {
        border: 1px solid var(--border-color);
        color: var(--tabs-color);
        background: var(--input-background-disabled-color);
        opacity: 1;
      }
    }
  }
}
