.page-accounts {
  .ui {
    &.buttons {

      &.account-actions {
        float: right;
        display: flex;
        grid-column-gap: var(--gap);
        margin-top: var(--gap);
        margin-bottom: var(--gap);
        button {
          background-color: var(--acg-green) !important;
          color: var(--acg-neutral-900) !important;
        }

      }
    }
  }

  td.button {
    float: right;
    button {
      background-color: var(--acg-green) !important;
      color: var(--acg-neutral-900) !important;
    }
  }
}
