.nft-collection-item {

  .table {
    padding: var(--gap) 0 var(--gap) var(--gap);
  }

  .expander-content {
    display: flex;
    grid-column-gap: 50px;
    align-items: center;

    .collection-info-row {
      display: flex;
      grid-column-gap: 0.5rem;
      align-items: center;
      font-family: var(--font-inter);
      font-weight: 700;
      font-size: 18px;

      &>div {
        max-width: 375px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .token-image {
        margin-right: 8px;
      }
    }

    .link-button {
      position: absolute;
      right: 0;
      display: flex;
      grid-column-gap: var(--gap);
    }
  }

  .ui--Expander-summary {
    position: relative;

    svg {
      width: 15px;
      margin-right: 20px;
    }

    .ui--Expander-summary-header {

      .expander-content {

        .tokens-count {
          font-family: var(--font-roboto) var(--font-mono);
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
