.ui.modal.unique-modal {
  .transfer-form {
    margin: 1rem 0;
  }
  .actions {
    padding: 1rem !important;
  }

  .modal-loader {
    color: #77903b;

    &:before {
      border-color: #77903b;
    }
  }

  p {
    margin: 0 !important;
  }
}

.buy-steps, .sale-steps {
  width: 100%;
  margin: 1rem 0;

  .steps {
    width: 100%;

    &.ui.ordered {

      .step {
        &.active {
          .title {
            color: #000219;
          }
        }

        &.completed:before, .ui.steps .step.completed .icon:before {
          color: #77903b;
        }
      }
    }
  }
}

.text-warning {
  display: block;
  margin: 1rem 0;
  color: #f2711c;
}
