.buy-steps, .sale-steps {
  width: 100%;

  .steps {
    width: 100%;

    &.ui.ordered {
      .step.completed:before, .ui.steps .step.completed .icon:before {
        color: #a2dd18;
      }
    }
  }
}
