tmp/
build/
coverage/
node_modules/
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.npmrc
.pnp.*
.vscodet
.yarn/*
!.yarn/plugins
!.yarn/releases
NOTES.md
ToDo.md
cc-test-reporter
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*