.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: var(--gap) calc(var(--gap) * 2);
  font-size: 16px;

  &__page {
    display: flex;
    align-items: center;
    column-gap: calc(var(--gap) * 1.5);
    a {
      margin-left: 10px;
    }
  }

  &__on-page {
    display: flex;
    align-items: center;
    div.ui.selection.dropdown {
      height: 32px;
      min-width: 5em;
      display: flex;
      align-items: center;
      margin-left: calc(var(--gap) / 2);
      padding: calc(var(--gap) / 3) calc(var(--gap));
      border: 1px solid var(--border-color);
      border-radius: 8px;

      div.visible.menu.transition {
        background-color: var(--white-color);
        & > div.item {
          padding: calc(var(--gap) / 3) calc(var(--gap)) !important;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
  }

  &__pages {
    display: flex;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      padding: calc(var(--gap) / 2) ;
      border-radius: var(--bradius);
      cursor: pointer;
      height: 32px;
      min-width: 32px;
      text-align: center;
      font-size: 16px;
      &.active {
        background-color: var(--button-color);
        cursor: default;
      }
      &.dots {
        cursor: default;
      }
    }
  }

  &__arrows {
    display: flex;
    min-width: 20px;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__back {
    transform: rotate(90deg);
  }

  &__forward {
    transform: rotate(-90deg);
  }

  &__goto {
    display: flex;
    align-items: center;
    margin-left: var(--gap);
    div.ui.input input {
      min-width: 5em;
      margin-left: calc(var(--gap) / 2);
      padding-top: calc(var(--gap) / 3) !important;
      left: calc(var(--gap) / 2) !important;
      width: calc(var(--gap) / 3) !important;
    }
  }
}
