.btn-container {
    display: flex;
    gap: 16px;
    align-items: center;

    .btn-outlined {
      padding: 8px 24px;
      background-color: var(--white-color) !important;
      border-radius: 4px;
      font-family: var(--font-roboto);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      &.primary {
        color: var(--button-color);
        border: 1px solid var(--button-color);

        &:active {
          opacity: 0.8;
        }
      }

      &.error {
        color: var(--error-color);
        border: 1px solid var(--error-color);

        &:active {
          opacity: 0.8;
        }
      }

      &:hover {
        background-color: var(--button-background-hover) !important;
      }

      &.isDisabled  {
        opacity: 0.4;
      }
    }

    .btn-select {
      display: flex;
      flex-direction: column;

      &.active {
        display: flex;
        flex-direction: column;
        position: relative;
        .drop-list {
          z-index: 1;
          display: flex;
          flex-direction: column;
          font-size: 16px;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        border-radius: 4px;
        border: 1px solid var(--button-color);
        background-color: var(--button-color);
        color: var(--white-color);
        font-family: var(--font-roboto);
        font-size: 16px;
        cursor: pointer;

        &:hover {
          background-color: var(--button-background-filled-hover) !important;
          border: 1px solid var(--button-background-filled-hover) !important;
        }

        &:active {
          background-color: var(--button-background-active) !important;
          border: 1px solid var(--button-background-active) !important;
        }

        img {
          margin-left: 10.5px;
        }
      }
      .drop-list {
        display: none;
        padding: 10px;
        position: absolute;
        background-color: var(--white-color);
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
        top: 41px;
        left: 0;
        right: 0;

        .option {
          padding: 6px;
          text-align: left;
          cursor: pointer;

          &:hover {
            color: var(--button-color)
          }
        }
      }
    }
}

.mark.warning{
  color: var(--modal-warning-text-color);
  background-color: var(--modal-warning-background-color);
  font-family: var(--font-roboto);
  line-height: 22px;
  font-weight: 500;
  padding: 8px 11px;
  margin-top: 32px;
  font-size: 14px;
  border-radius: 4px;
}

@media (max-width: 767px) {

  .btn-container {
    flex-direction: column;
    align-items: stretch;
  }
}
