::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--dropdown-scrollbar-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dropdown-scrollbar-color);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--dropdown-scrollbar-track-color);
}

body {
  color: var(--text-color);

  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.ui.popup {
  background: var(--bg-page) !important;

  &:before,
  &:after {
    background: var(--bg-page) !important;
  }
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

.ui.header {
  color: var(--title-color);
}

.ui.modal {
  border: 1px solid var(--modal-border-color);
  color: var(--modal-text-color);

  .header {
    color: var(--modal-text-color) !important;
  }

  .ui.dropdown.selection.disabled {
    background: var(--account-selector-background);

    .ui--KeyPair {
      .name {
        .ui--AccountName {
          color: var(--account-selector-name-color);
        }
      }
      .address {
        color: var(--account-selector-address-color);
      }
    }
  }

  h2 {
    color: var(--modal-text-color);
  }

  &.small.visible {
    .content {
      font-size: 18px;
    }
    .actions {
      display: flex;
      float: right;
      padding: 1rem !important;
    }
  }

  .actions {
    .ui--Button {
      background: var(--link-color);
      color: var(--text-color);
      margin: 0 1rem;

      &:active {
        background: var(--link-color);
        color: var(--text-color);
      }

      &:hover {
        background: var(--link-color);
        color: var(--text-color);
      }

      &.isDisabled {
        opacity: 0.5;
      }

      &:last-child {
        margin: 0;
      }

      .ui--Icon {
        background: var(--link-color) !important;
      }
    }
  }
}

h1.ui.header {
  font: 700 36px/48px var(--font-inter);
  color: var(--title-color);
  margin-bottom: calc(var(--gap) / 0.6);
}

h2.ui.header {
  font: 700 28px/38px var(--font-inter);
  color: var(--title-color);
  margin-bottom: calc(var(--gap) / 2);
}

h4.ui.header {
  font: 400 18px/27px var(--font-roboto);
  margin: 0;
  color: var(--title-color);
  letter-spacing: 0.1em;
  margin-bottom: var(--gap);
  min-height: 60px;
}

.ui--LabelHelp {
  font-size: 0.5em;
  vertical-align: middle;
}

.ui--Labelled {
  &.search {
    input {
      padding-left: calc(var(--gap) * 2.5);
      background-image: url("../public/icons/magnifying.svg") !important;
      background-size: 24px 24px !important;
      background-repeat: no-repeat !important;
      background-position: 8px !important;
    }
  }

  label {
    display: none;
  }

  &.ui--Dropdown {
    &.dropdown-button {
      width: 130px;
      height: 40px;
      margin: 0;

      .ui.dropdown {
        border-radius: 8px;
        min-width: 0;
        background: var(--link-color);
        padding: 8px 24px !important;
        margin: 0;
        min-height: 0;
        height: 40px;

        &.selection {
          .menu {
            .item {
              border-color: var(--border-color);
            }
          }
        }

        .text {
          color: var(--text-color) !important;
          font-family: var(--font-roboto) var(--font-mono);
          font-size: 16px;
        }

        .menu {
          border-color: var(--border-color);

          .text {
            color: var(--text-color) !important;
          }
        }
      }
    }
  }

  .ui.dropdown {
    &.active {
      &:hover {
        border: 1px solid var(--account-selector-background);
      }
    }

    .text {
      width: 100%;
    }
  }

  .ui.disabled.search {
    pointer-events: all;
  }

  & .ui--Static {
    margin: 0 !important;
    background-color: var(--white-color) !important;
  }

  &:not(.isSmall) {
    padding-left: 0 !important;
  }

  & label {
    left: 1.55rem !important;
  }

  .ui.selection.dropdown {
    border: 1px solid transparent;
    border-radius: calc(var(--bradius) * 2);
    padding: calc(var(--gap) / 3) calc(var(--gap) * 2);
    height: 48px;

    & .menu > .item {
      padding: calc(var(--gap) / 3) calc(var(--gap) * 2) !important;
    }
  }

  & input.search {
    padding: 0 !important;
    height: 100%;
  }

  .ui--KeyPair {
    flex-direction: column;
    color: var(--link-color);
    font: 500 14px/14px var(--font-roboto);

    .icon {
      top: 50% !important;
      left: -28px !important;
      transform: translate(0, -50%);
      width: 24px;
      height: 24px;
      border: 0px;
      border-radius: 0;
    }

    & > .address {
      margin-left: 0;
      font: 500 12px/18px var(--font-roboto);
      color: var(--title-color);
    }

    & > .name {
      margin-left: 0;
    }
  }

  .dropdown.icon {
    display: flex;
    align-items: center;
    margin: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
  }
}

.ui.loader {
  color: var(--text-color);

  &:after {
    left: 40%;
  }

  &:before {
    left: 40%;
  }

  .load-more {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.ui.grid > .row {
  padding: 0 0 24px;
}

form {
  .ui--Dropdown {
    .ui.selection.dropdown {
      border: 1px solid var(--border-color);
      border-radius: calc(var(--bradius) * 2);
      background: var(--input-background-color);
      font: 400 16px/24px var(--font-roboto);
      margin: 0;
      height: 40px;
      line-height: 25px;
      min-height: 0;
      padding: calc(var(--gap) / 2) var(--gap);

      &:focus,
      &:active {
        .menu {
          border-color: var(--border-color);
        }
      }

      &.multiple {
        height: auto;
      }

      .default.text {
        margin: 0;
      }

      .menu {
        border-color: var(--border-color);
        background: var(--input-background-color);

        .item {
          font: 400 16px/24px var(--font-roboto);
          padding: calc(var(--gap) / 2) var(--gap);
        }
      }

      a.ui.label {
        font-size: 14px;
        padding: 3px 8px;
        background-color: var(--link-color);
        border-radius: 8px;
        color: white;
        grid-column-gap: 8px;
        line-height: 16px;
        white-space: nowrap;

        .delete.icon {
          background: url("../public/icons/closeIcon.svg") !important;
          width: 13px;
          height: 13px;

          &::before {
            content: none;
          }
        }
      }
    }
  }
}

.ui--Dropdown {
  &.dropdown-button {
    .ui.item.dropdown {
      .text {
        font-weight: 500;
      }

      .menu {
        .text {
          font-weight: 400;
        }
      }

      .dropdown.icon {
        background: url("../public/icons/arrowDown.svg") !important;
        background-position: 100px 100px;
        background-repeat: no-repeat;
        height: 13px !important;
        width: 13px !important;
        padding: 0;
        margin: 13px 20px 13px 0 !important;

        &::before {
          content: none;
        }
      }
    }
  }
}

.text-block {
  width: 100%;
  font-size: 20px;
  line-height: 40px;

  &.confirmed {
    color: var(--success-color);
  }

  &.error {
    color: var(--error-color);
  }

  &.disabled {
    color: var(--tabs-color);
  }
}

.error-block {
  width: 100%;
  font-size: 20px;
  color: var(--error-color);
  text-align: center;
  padding: 2rem 0;
  margin: 2rem 0;
  background-color: white;
  border-radius: 6px;

  a {
    text-decoration: underline;
  }
}

.warning-block {
  width: 100%;
  font-size: 20px;
  color: var(--error-color);
  padding: 1rem 0;
  margin: 1rem 0;
}

.attention-block {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  font-size: 16px;
  color: var(--error-color);
  padding: 1rem var(--gap);
}

button.ui.button,
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--link-color) !important;
  padding: calc(var(--gap) / 2) calc(var(--gap) * 1.5) !important;
  color: var(--white-color) !important;
  font: 500 16px/24px var(--font-roboto) !important;
  letter-spacing: 0.11em;
  border-radius: var(--bradius) !important;
}

.button-link {
  background-color: transparent !important;
  color: var(--link-color) !important;

  img {
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-right: calc(var(--gap) / 2);
  }
}

.link {
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
  font: 500 16px/24px var(--font-roboto) !important;

  img {
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin: calc(var(--gap) / 2);
  }
}

.ui.attached {
  &.tabular {
    &.menu {
      margin-bottom: calc(var(--gap) * 2);
      border-bottom: 1px solid transparent;

      .item {
        font: 400 18px/27px var(--font-roboto);
        color: var(--tabs-color);
        letter-spacing: 0.1em;
        padding: calc(var(--gap) / 2) var(--gap);
        border-color: transparent;
        border-bottom: 1px solid transparent;
        background-color: transparent;

        &.active {
          color: var(--link-color);
          border-bottom: 1px solid var(--link-color);
        }
      }
    }
  }
}

.ui.loader {
  position: relative;
  height: 25px;
  width: 25px;

  &:after,
  &:before {
    height: 25px;
    width: 25px;
    margin: 0;
  }

  &:after {
    border-width: 0.1em;
    border-color: var(--link-color) transparent transparent;
  }

  &:before {
    border: none;
  }
}

.connecting {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-back {
  display: flex;
  flex-direction: row;
  grid-column-gap: 10px;
  align-items: center;
  color: var(--card-link-color) !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.app-header {
  .ui.tabular.menu {
    .item {
      color: var(--sub-header-color);
      text-transform: var(--menu-text-transform);
      font-size: var(--menu-font-size);
    }
  }
}

.sub-header {
  color: var(--sub-header-color) !important;
  font-size: var(--sub-header-font-size) !important;
  text-transform: var(--sub-header-text-transform) !important;
}

.modal {
  .ui--Modal-Column {
    margin-bottom: var(--gap);
  }
  .ui--InputAddress {
    border: 1px solid var(--border-color);
    background: var(--input-background-color);

    .menu {
      border-color: var(--border-color);
      background: var(--input-background-color) !important;
      z-index: 1002;
    }
  }
}

.ui--InputBalance {
  .ui--Labelled-content {
    .ui.input.ui--Input {
      input {
        width: auto;
      }
    }
  }

  .ui.action.input {
    border: 1px solid var(--border-color);
    background: var(--input-background-color);

    .ui.buttons {
      background: var(--input-background-color);

      .dropdown {
        .menu {
          border-color: var(--border-color);
          background: var(--input-background-color) !important;
        }
      }
    }

    input {
      border: none;
    }
  }
}

.template--AccountSelector {
  background: var(--account-selector-background);
  border-radius: 6px;

  .ui.dropdown {
    .menu {
      background: var(--account-selector-background);

      &::-webkit-scrollbar-track {
        background: var(--dropdown-scrollbar-track-color);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--dropdown-scrollbar-color);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--dropdown-scrollbar-color);
      }

      .header {
        color: var(--account-selector-name-color);
      }
    }
  }

  .ui--AccountName {
    color: var(--account-selector-name-color);
  }

  .address {
    color: var(--account-selector-address-color);
  }
}

.unique-card {
  background: var(--card-background);
  box-shadow: 0 4px 12px var(--card-shadow);
  border-radius: 4px;
  padding: 32px;
}

.unique-form {
  .form-field {
    margin: 12px 0;

    &:first-child {
      margin-top: 24px;
    }
  }
}

.collection-search-form {
  .search-field {
    &.with-results {
      .ui--Labelled {
        .ui.input {
          input {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }
      }
    }

    .ui--Labelled {
      .input {
        .loader {
          position: absolute;
          left: 95%;
          top: 7px;
        }

        img {
          position: absolute;
          &.search-icon {
            left: var(--gap);
            top: calc(var(--gap) / 2);
          }

          &.clear-icon {
            cursor: pointer;
            right: var(--gap);
            top: calc(var(--gap) / 2);
          }
        }

        input {
          border-radius: 4px;
          padding-right: 4rem !important;
          height: 40px;
        }
      }
    }
  }
}
.modalDescription {
  margin: 0 !important;
  div {
    p {
      margin: 0;
      color: var(--title-color);
      opacity: 0.7;
      font-family: var(--font-roboto);
      padding: 0.3rem 1.5rem 0px 1.5rem !important;
    }
  }
}

@media (max-width: 1024px) {
  .ui.page.modals {

    .ui--Modal.modal {
      .ui--Row-address {
        font-size: 14px !important;
        word-break: break-all;
      }

      .content {

        .TextAreaWithDropdown {
          flex-direction: column;

          .ui--CopyButton.copyMoved {
            right: 13px;
            top: 13px
          }

          .ui.buttons {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ui.grid > .row {
    display: grid;
  }
}
