.ui.card {
  box-shadow: none;
  border-radius: 0;

  &.token-card {
    width: auto;
    margin: 10px;
    border: 1px solid var(--card-border-color) !important;
    background: var(--card-background);

    .link {
      color: var(--card-link-color);
    }

    &:hover {
      border: 1px solid var(--card-border-color) !important;
      background: var(--card-background);
    }

    .content {
      display: flex;
      flex-direction: column;
      border-top: 0;
      color: var(--card-text-color);

      .description {
        color: var(--card-text-color);
      }
    }

    & > .image {
      background-color: transparent;
      border-radius: 0;
      padding: var(--gap);
      height: 232px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }
  }

  .description {
    margin-bottom: var(--gap);
  }

  .card-name {
    margin-bottom: calc(var(--gap) / 2);

    &__title {
      font: 500 18px/26px var(--font-inter);
    }

    &__field {
      font: 400 14px/22px var(--font-inter);
      color: #0085CC;
    }
  }
  .card-price {
    margin-bottom: calc(var(--gap) / 8);
    display: flex;
    align-items: center;

    img {
      margin-left: 4px;
      margin-bottom: 1px;
    }

    &__title {
      font: 500 18px/26px var(--font-inter);
    }
  }

  .caption-row {
    display: flex;
    align-items: center;

    > div:nth-of-type(2){
      margin-left: calc(var(--gap) / 2);
    }
  }

  .caption {
    font: 400 12px/18px var(--font-inter);

    &.grey {
      color: #81858E;
    }

    &.green {
      color: #2DBF15;
    }

    &.red {
      color: #FF6335;
    }
  }

  .meta {
    justify-content: flex-start;
    margin-top: auto;
  }
}
