.parallax-effect {
  transform-style: preserve-3d;
  background-image: url("./dark-squ.png");
  background-size: cover;
  padding: 30px 20px 30px 20px;
  margin: 5px;
  border-radius: 4px;



  .inner-element {
    transform: translateZ(50px);

    .ui.card {
      background-color: rgba(0, 51, 255, 0);


      &.token-card {
        width: auto;
        box-shadow: none;


        .link {
          color: var(--card-link-color);
        }

        &:hover {
          border: 0px solid;
          box-shadow: 0px 0px 10px 2px #057453;
          // border: 0px solid rgba(255, 0, 0, 0);
          background: #c7d2fe00;
          //border-image: linear-gradient(45deg, rgba(0, 0, 0, 0.726), rgb(251, 255, 0)) 1;
          //border-image-source: url(./sari.jpg);
          //border-image-slice: 10 90;
        }


        .content {
          display: flex;
          flex-direction: column;
          border-top: 0;
          color: var(--card-text-color);
          background-color: #05745300;

          .description {
            color: white;
          }
        }

        &>.image {
          background-color: #c7d2fe00;
          padding: var (--gap);
          height: 200px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
            width: auto;


            // background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
          }
        }
      }

      .description {
        margin-bottom: var(--gap);
      }

      .card-name {
        margin-bottom: var(--gap);

        &__title {
          font: 500 16px/21px var(--font-roboto);
          margin-bottom: calc(var(--gap) / 2);
        }

        &__field {
          font: 400 12px/16px var(--font-inter);
        }
      }

      .card-price {
        margin-bottom: calc(var(--gap) / 2);

        &__title {
          font: 500 14px/16px var(--font-inter);
        }
      }

      .meta {
        justify-content: flex-start;
        margin-top: auto;
      }

    }
  }
}