.filter-main {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #c7cbd4;
  padding: 15px 10px;
}
.collections-main {
  align-items: center;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 1px;
  height: 36px;
  padding-left: 4px;
}
.switch-my-tokens {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid #c7cbd4;
  padding-bottom: 15px;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c7cbd4;
  padding-bottom: 15px;
}
.collection-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.clear {
  display: flex;
}
.clear-title {
  font-family: Roboto;
  margin-right: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.clear-title-active {
  cursor: pointer;
  color: #1db0ff;
}

.clear-icon {
  color: #040b1d;
  font-size: 30px;
  height: 18px;
  transform: rotate(180deg);
}
.rotate-icon {
  transform: rotatey(180deg);
  position: relative;
  top: 9px;
}
.collection-list {
  max-height: 300px;
  overflow-y: auto;
}

.collections-main:hover {
  background-color: #ebf8ff;
  input[type="checkbox"]::before {
    border: 1px solid #40bcff;
  }
}
.collection-name-checkbox {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.display-none {
  display: none !important;
}
.collection-img {
  background-size: contain;
  width: 24px;
  height: 24px;
  border: 1px solid #40bcff;
  border-radius: 50%;
}
.collection-name {
  margin-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #040b1d;
}
.collection-search {
  padding: 4px 8px !important;
  padding-left: 33px !important;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 4px;
  background: url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-5.png")
    no-repeat 12px;
  background-size: 14px;
  width: 100%;
  height: 36px;
}
input[type="checkbox"] {
  margin-bottom: 11px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -1px;
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 5px;
}
input[type="checkbox"]:checked:before {
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -1px;
  background-color: #40bcff;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  border: 1px solid #ececec;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  margin-right: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.price-title {
  border-top: 1px solid #c7cbd4;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.price-main {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  input {
    width: 118px;
    background: #ffffff;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.price-btn {
  align-items: center;
  padding: 8px 24px;
  border: 1px solid #c7cbd4;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fafafa;
  width: 89px;
  height: 40px;
}
