.collection-search {
  padding: 2rem 0 0 0;

  .collection-search-results {
    border: 1px solid var(--border-color);
    border-top: none;
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: var(--gap);

    .collection-search-result {
      border-bottom: 1px solid var(--border-color);
      padding-top: var(--gap);
      padding-bottom: var(--gap);
      font-size: 16px;
      font-weight: 500;
      display: grid;
      grid-template-columns: 1fr 1fr;

      span {
        display: block;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .collection-add {
        text-align: right;
        cursor: pointer;
        color: var(--link-color);
      }

      .collection-added {
        text-align: right;
        color: var(--tabs-color);
      }
    }
  }
}
