.accounts--App {


  .page-accounts--card .accounts-table--header {
    background: #231F20;
    border-radius: 2px;
    padding: calc(var(--gap) / 2) calc(var(--gap) / 2 * 3);
    display: grid;
    grid-template-columns: 40% 1fr 1fr 230px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: calc(var(--gap) / 2 * 3);

    span {
      color: #868686;
    }
  }

  .page-accounts--card {
    padding: calc(var(--gap) * 2);
    color: #f4f4f4;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    background-color: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(10px);
    border-radius: 4px;






    .btn-container .btn-outlined {
      background-color: #AAE6B9;
      color: #231F20;
      border: none;
      font-family: var(--font-roboto);
      font-size: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
    }


    .btn-container .btn-select .btn {
      background-color: #AAE6B9;
      color: #231F20;
      border: none;
      font-family: var(--font-roboto);
      font-size: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);


    }


    .ui--Labelled-content .ui.input.ui--Input input {
      border: none;
      border-radius: 8px;
      color: #AAE6B9;
      background: #231F20;
      padding: 8px 16px;
      width: 100%;
      font-size: 16px;
      box-shadow: inset 0px 2px 4px rgb(0 0 0 / 25%);
    }



  }




}

@media (max-width: 1279px) {
  .accounts--App {
    .page-accounts {
      .ui--Table {
        table {
          width: 100%;
          height: 400px;
          overflow: auto;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {}

@media (min-width: 1024px) {}

@media (max-width: 1024px) {
  .accounts--App {
    background-color: var(--card-background);

    .page-accounts {
      overflow: auto;
      padding-top: calc((var(--gap) / 2) * 3);

      .ui.buttons.account-actions {
        flex-direction: column;
        float: left;
        padding: 0 var(--gap);
        grid-row-gap: calc(var(--gap) / 2);
      }
    }
  }
}