.accounts--App {

}

@media (max-width: 1279px) {
  .accounts--App {
    .page-accounts {
      .ui--Table {
        table {
          width: 100%;
          height: 400px;
          overflow: auto;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .accounts--App {

  }
}

@media (min-width: 1024px) {
  .accounts--App {

  }
}

@media (max-width: 1024px) {
  .accounts--App {
    background-color: var(--card-background);

    .page-accounts {
      overflow: auto;
      padding-top: calc((var(--gap) / 2) * 3);

      .ui.buttons.account-actions {
        flex-direction: column;
        float: left;
        padding: 0 var(--gap);
        grid-row-gap: calc(var(--gap) / 2);
      }
    }
  }
}

@media (max-width: 768px) {

}

