.nft-store {

  .nft-tokens {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .punks-for-sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .punk {
      line-height: 1.2em;
      margin-top: 20px;
      width: 144px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 200px;
      justify-content: center;

      .punk-card {
        height: 144px;
        width: 100%;

        a {
          display: block;

          img {
            width: 100%;
          }
        }
      }

      .punk-id {
        margin-top: 10px;
        font-weight: bold;
        font-size: 20px;
        color: #A2DD18;
      }

      .punk-status {
        margin-top: 5px;
      }
    }
  }
}
