@import '../styles.scss';

.unique-text {
    @each $color, $value in $base-colors-map {
        &[class*='#{$color}'] {
            color: $value;
        }
    }
    @each $size in xs, s, m, l {
        &[class*='size-#{$size}'] {
            @include font-body($size);
        }
    }
    &.color-blue-grey-600{
        color:$color-blue-grey-600;
    }
    &.weight-medium {
        font-weight: 500;
    }
}
