.nft-details {

  &.ui.modal {

    .actions {
      padding: 1rem !important;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .token-image {
      height: 200px;
      background-color: #A2DD18;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 80%;
      }
    }
  }

  .token-info {
    padding: 1.5rem 0;
  }

  h4.ui.header {
    margin: 1.5rem 0;
  }
}

.sale-steps, .buy-steps {
  width: 100%;

  .steps {
    width: 100%;

    &.ui.ordered {
      .step.completed:before, .ui.steps .step.completed .icon:before {
        color: #a2dd18;
      }
    }
  }
}

