.token-row {

  .token-name {
    font: 700 18px/27px var(--font-inter);
  }

  .token-attributes {
    max-width: 550px;
  }

  .token-actions {
    display: flex;
    justify-content: flex-end;
    padding: 18px 0;
  }
}
