.token-row {

  .token-name {
    font: 700 18px/27px var(--font-inter);
  }

  .token-attributes {

    .attribute {

    }
  }

  .token-actions {
    display: flex;
    justify-content: flex-end;
  }
}
