.pagination-trades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: var(--gap) calc(var(--gap) * 2);

  &__page {
    display: flex;
    align-items: center;

    a {
      margin-left: 10px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
  }

  &__arrows {
    display: flex;
    margin-left: 40px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__back {
    transform: rotate(90deg);
    margin-right: 40px;
  }

  &__forvard {
    transform: rotate(-90deg);
  }
}
