.my-tokens {
  position: relative;

  .ui--Dropdown {
    &.dropdown-button {
      &.create-button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .token-image {
    width: 60px;

    .ui.mini.image {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: var(--gap);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
