.my-tokens {
  position: relative;

  h4.ui.header {
    min-height: 0;
    margin-bottom: calc(2 * var(--gap));
  }

  .button.create-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .token-image {
    width: 60px;

    .ui.mini.image {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: var(--gap);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
