@import "../styles/global.scss";

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background: var(--header-background);
  margin-bottom: 0;
  padding: calc(var(--gap) / 2) 0;

  .ui.tabular.menu {
    display: inline-flex;
    border-bottom: none;
    margin: 0;

    .item {
      border: none;
      padding: calc(var(--gap) / 2) calc(var(--gap) * 1.5);
      font: 500 16px/24px var(--font-roboto);
      letter-spacing: 1px;
      border-radius: var(--bradius) !important;

      &.active {
        background-color: var(--link-color);
        color: var(--white-color);
        margin-top: 0;
        font-weight: 500;
      }

      &.app-logo {
        background-color: transparent;
        padding: 0;
        width: auto;
        margin-right: calc((var(--gap) / 2) * 3);

        img {
          width: auto;
          max-width: 130px;
          height: 50px;
        }
      }
    }
  }
}

.app-user {
  display: flex;
  align-items: center;

  &.hidden {
    display: none;
  }

  .account-selector-block {
    width: 230px;
  }
}

.app-main {
  padding: 44px 0;
  flex: 1 1 auto;
}

.app-container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--gap);
  margin: 0 auto;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-header-width);
  }
}

.app-user-icon {
  display: block;
  width: 32px;
  height: 32px;
}

.app-balances {
  display: flex;

  &--item {
  }

  .app-balance--item {
    color: var(--header-text-color);
    border-right: 1px solid var(--border-color);
    font-family: var(--font-roboto) var(--font-mono);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 0 8px;
    position: relative;
    height: 24px;
    display: flex;
    align-items: flex-end;

    &:last-child {
      border-right: none;
    }

    small {
      position: absolute;
      top: -4px;
    }
  }

  img {
    margin-left: 8px;
    cursor: pointer;
  }
}

.deposit-flex {
  display: flex;
  .deposit-input {
    width: 85%;
    display: flex;
    position: relative;

    button {
      position: absolute;
      background-color: transparent !important;
      color: var(--link-color) !important;
      width: 40px;
      height: 28px;
      padding: 3px;
      right: 10px;
      top: 7px;
      letter-spacing: 0px;
    }
  }
  .balance-number {
    width: 100%;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .ksm-text {
    margin-left: 10px;
    width: 15%;
  }
}
.modal-position {
  top: 30%;
}
.help-text {
  padding: 4px;
  border-radius: 5px;
  color: var(--link-color);
  font-size: 13px;
  background-color: #eff9ff;

  i {
    vertical-align: bottom;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    color: var(--link-color);
    display: inline-block;
    background: url("../../react-components/src/ManageCollection/warning-alert.svg")
      no-repeat;
    background-size: contain;
  }
}
.no-account {
  display: flex;
  background: #fef6da;
  color: #dea513;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  span {
    color: #1db0ff;
  }
  .error-message-info {
    margin-left: 10px;
  }
  .error-info-svg {
    display: flex;
    margin-left: 10px;
  }
  p {
    margin: 3px !important;
  }
}

.crateAccountBtn {
  background: #ffffff;
  text-transform: lowercase;
  align-items: center;
  padding: 8px 24px;
  border: 1px solid #1db0ff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #1db0ff;
}
.crateAccountBtn:first-letter {
  text-transform: uppercase;
}

.menu-mobile-header {
  .menu-icon {
    cursor: pointer;
  }
}

.create-account.menu {
  margin: 0;
  border: none;
  box-shadow: none;

  a.crateAccountBtn {
    border-radius: 4px;
    color: var(--link-color);
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;

    &:hover {
      color: var(--link-color);
    }
  }
}

@media (min-width: 1441px) {
  .app-header {
    .app-user {
      .app-balances-mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 1440px) {
  .app-header {
    .app-user {
      .app-balances {
        display: none;
      }

      .app-balances-mobile {
        display: none;
      }

      .app-balances-mobile {
        display: grid;
        grid-template-columns: 1fr 24px;
        align-items: center;
        min-width: 180px;
        cursor: pointer;

        .app-balances-mobile--items {
          display: flex;
          flex-direction: column;

          .app-balances-mobile--items--item {
            text-align: right;
            font-weight: 500;
            font-family: var(--font-roboto);

            .unit {
              color: var(--tabs-color);
              margin-left: 5px;
              font-weight: 400;
            }
          }
        }

        img {
          margin-left: 8px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .app-header {
    .app-user {
      .account-selector-block {
        .mobile-account-selector {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .app-header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    z-index: 1000;

    .ui.tabular.header-menu.menu {
      display: none;
    }

    .app-user {
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-column-gap: 16px;

      &.hidden {
        display: none;
      }

      .account-selector-block {
        cursor: pointer;
        height: 100%;
        width: auto;

        .template--AccountSelector {
          display: none;
        }

        .mobile-account-selector {
          display: grid;
          grid-template-columns: 24px 1fr;
          grid-column-gap: 8px;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .menu-mobile {
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);

    &--logo {
      text-align: center;
      margin-bottom: var(--gap);
    }

    &--link {
      display: block;
      width: 100%;
      font-family: var(--font-roboto);
      font-weight: 500;
      font-size: 16px;
      margin: 4px 0;
      padding: 8px 16px;
      color: var(--header-text-color);

      &.active {
        background-color: var(--link-color);
        border-radius: 4px;
        color: var(--card-background);
      }
    }
  }

  .app-main  {
    &.menu {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .app-header {
    .menu-mobile-header {
      display: none;
    }

    .ui.tabular.header-menu.menu {
      display: inline-flex;
    }
  }
}

@media (max-width: 1024px) {
  .app-wrapper {
    background-color: var(--card-background);
  }
  .app-header {
    position: fixed;
    top: 0;
    width: 100%;

    .menu-mobile-header {
      display: flex;
      align-items: center;
      grid-column-gap: var(--gap);
    }
  }

  .app-main {
    margin-top: 84px;
    padding: 0;

    .app-container {
      padding: 0;
    }
  }

  .deposit-flex .ksm-text {
    width: 25%;
  }

  .menu-mobile, .manage-balances, .manage-accounts {
    margin-top: 84px;
  }
}

@media (max-width: 767px) {
  .app-main {
    margin-top: 54px;

    &.no-accounts {
      margin-top: 67px;
    }
  }
  .menu-mobile-header {
    display: block;
    .app-logo {
      display: none;
    }
  }

  .menu-mobile {
    margin-top: 54px;

    &.no-accounts {
      margin-top: 67px;
    }
  }

  .manage-balances {
    margin-top: 54px;
  }

  .manage-accounts {
    margin-top: 54px;
  }
}

.manage-balances {
  background-color: var(--header-background);
  overflow: hidden;
  padding: var(--gap);
  font-size: 14px;
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 22px;

  .unit {
    font-weight: 400;
    margin-left: 3px;
  }

  .main-balance {
    padding-bottom: var(--gap);
    border-bottom: 1px solid var(--border-color);
  }

  .other-balance {
    margin-top: var(--gap);

    .balance-line {
      display: flex;
      align-items: center;
      margin-top: 3px;
      grid-column-gap: 3px;

      &:first-child {
        margin-top: 0;
      }

      img {
        width: 24px;
        height: 24px;
        margin-left: 3px;
      }
    }
  }
}

.manage-accounts {
  background-color: var(--header-background);
  overflow: hidden;

  &--link {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-roboto);
    display: block;
    width: 100%;
    margin: 0 var(--gap);
    padding: var(--gap) 0;
    border-bottom: 1px solid var(--border-color);
    color: var(--link-color);
  }

  header {
    display: block;
    width: 100%;
    margin: 0 var(--gap);
    padding: var(--gap) 0;
  }

  .accounts-list {
    padding: 0 var(--gap);

    .account-item {
      display: grid;
      grid-template-columns: 24px 1fr;
      grid-column-gap: 8px;
      margin: var(--gap) 0;
      align-items: center;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      &--name {
        .name {
          font-family: var(--font-roboto);
          font-weight: 500;
        }
        .address {
          font-size: 12px;
          word-break: break-all;
        }
      }
    }
  }

  .accounts-footer {
    padding: var(--gap);

    .info-panel {
      background-color: var(--link-light-color);
      padding: 2px 6px;
      display: grid;
      grid-template-columns: 24px 1fr;
      grid-column-gap: 6px;
      align-items: center;
    }
  }
}

.ui.popup.mobile.withdraw-popup {
  background-color: var(--link-color) !important;
  padding: var(--gap);
  color: var(--input-background-color);
  font-family: var(--font-roboto);
  font-size: 14px;
  text-align: center;

  &:before {
    background-color: var(--link-color) !important;
  }

  .withdraw-button.button {
    margin-bottom: 6px;
    font-family: var(--font-roboto);
    border: 1px solid var(--input-background-color);
  }

  a {
    text-decoration: underline;
    color: var(--input-background-color);
    margin: 0 3px;
  }
}
