@import '../styles/global.scss';

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: var(--white-color);
  margin-bottom: 0;
  padding: var(--gap) 0;
}

.app-user {
  width: 230px;
}

.app-main {
  padding: 44px 0;
  flex: 1 1 auto;
}

.app-container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--gap);
  margin: 0 auto;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ui.tabular.menu {
    display: inline-flex;
    border-bottom: none;
    margin: 0;

    .item {
      border: none;
      padding: calc(var(--gap) / 2) calc(var(--gap) * 1.5);
      font: 500 16px/24px var(--font-roboto);
      letter-spacing: 1px;

      &.active {
        background-color: var(--link-color);
        border-radius: var(--bradius) !important;
        color: var(--white-color);
        margin-top: 0;
        font-weight: 500;
      }
    }
  }
}

.app-user-icon {
  display: block;
  width: 32px;
  height: 32px;
}
