@import "../styles/global.scss";

.app-wrapper {
  background: var(--bg-page);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background: var(--header-background);
  margin-bottom: 0;
  padding: var(--gap) 0;

  .ui.tabular.menu {
    display: inline-flex;
    border-bottom: none;
    margin: 0;

    .item {
      border: none;
      padding: calc(var(--gap) / 2) calc(var(--gap) * 1.5);
      font: 500 16px/24px var(--font-roboto);
      letter-spacing: 1px;
      border-radius: var(--bradius) !important;

      &.active {
        background-color: var(--link-color);
        color: var(--white-color);
        margin-top: 0;
        font-weight: 500;
      }

      &.app-logo {
        background-color: transparent;
        padding: 0;
        width: auto;
        margin-right: 50px;

        img {
          width: auto;
          max-width: 130px;
        }
      }
    }
  }
}

.app-user {
  display: flex;
  align-items: center;

  .account-selector-block {
    width: 230px;
  }
}

.app-main {
  padding: 44px 0;
  flex: 1 1 auto;
}

.app-container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--gap);
  margin: 0 auto;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-header-width);
  }
}

.app-user-icon {
  display: block;
  width: 32px;
  height: 32px;
}

.app-balances {
  display: flex;

  &--item {
  }

  .app-balance--item {
    color: var(--header-text-color);
    border-right: 1px solid var(--border-color);
    font-family: var(--font-roboto) var(--font-mono);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 0 8px;
    position: relative;
    height: 24px;
    display: flex;
    align-items: flex-end;

    &:last-child {
      border-right: none;
    }

    small {
      position: absolute;
      top: -4px;
    }
  }

  img {
    margin-left: 8px;
    cursor: pointer;
  }
}

.deposit-flex {
  display: flex;
  .deposit-input {
    width: 85%;
    display: flex;
    position: relative;

    button {
      position: absolute;
      background-color: transparent !important;
      color: var(--link-color) !important;
      width: 40px;
      height: 28px;
      padding: 3px;
      right: 10px;
      top: 7px;
      letter-spacing: 0px;
    }
  }
  .balance-number {
    width: 100%;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .ksm-text {
    margin-left: 10px;
    width: 15%;
  }
}
.modal-position {
  top: 30%;
}
.help-text {
  padding: 4px;
  border-radius: 5px;
  color: var(--link-color);
  font-size: 13px;
  background-color: #eff9ff;

  i {
    vertical-align: bottom;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    color: var(--link-color);
    display: inline-block;
    background: url("../../react-components/src/ManageCollection/warning-alert.svg")
      no-repeat;
    background-size: contain;
  }
}
.no-account {
  display: flex;
  background: #fef6da;
  color: #dea513;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px span {
    color: #1db0ff;
  }
  .error-message-info {
    margin-left: 10px;
  }
  .error-info-svg {
    display: flex;
    margin-left: 10px;
  }
  p {
    margin: 3px !important;
  }
}

.crateAccountBtn {
  background: #ffffff;
  text-transform: lowercase;
  align-items: center;
  padding: 8px 24px;
  border: 1px solid #1db0ff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #1db0ff;
}
.crateAccountBtn:first-letter {
  text-transform: uppercase;
}

.menu-mobile {
  .menu-icon {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .app-header {
    .menu-mobile {
      display: none;
    }

    .ui.tabular.header-menu.menu {
      display: inline-flex;
    }

    .app-user {
      .app-balances-mobile {
        display: none;
      }

      .account-selector-block {
        .mobile-account-selector {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .app-header {
    .ui.tabular.header-menu.menu {
      display: none;
    }

    .menu-mobile {
      display: block;
    }

    .app-user {
      .app-balances {
        display: none;
      }

      .app-balances-mobile {
        display: grid;
        grid-template-columns: 1fr 24px;
        align-items: center;
        min-width: 180px;
        padding: 0 16px;

        .app-balances-mobile--items {
          display: flex;
          flex-direction: column;

          .app-balances-mobile--items--item {
            text-align: right;
            font-weight: 500;
            font-family: var(--font-roboto);

            .unit {
              color: var(--tabs-color);
              margin-left: 5px;
              font-weight: 400;
            }
          }
        }

        img {
          margin-left: 8px;
        }
      }

      .account-selector-block {
        .template--AccountSelector {
          display: none;
        }
      }
    }
  }
}
