.app-trades {

}

@media (max-width: 1280px) {
  .app-trades {
    .ui--Table {
      table {
        width: 100%;
        height: 400px;
        overflow: auto;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .app-trades {
    table {
      td.tradeList {
        max-width: 250px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .app-trades {

  }
}

@media (max-width: 1024px) {
  .app-trades {
    background-color: var(--card-background);
    overflow: auto;

    .ui.header {
      padding: 0 var(--gap);
    }

    h1.ui.header {
      padding-top: calc((var(--gap) / 2) * 3);
    }
  }
}

@media (max-width: 768px) {

}
