@import '../styles.scss';

.unique-tabs-labels {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;

    .tab-label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 198px;
        height: 38px;
        border: 1px solid $color-primary-400;
        line-height: 24px;
        color: $color-primary-400;
        cursor: pointer;
        border-left: none;

        &:first-of-type {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-left: 1px solid $color-primary-400;
        }

        &:last-of-type {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &.disabled {
            background-color: $color-grey-100;
            color: $color-blue-grey-400;
            border-color: $color-blue-grey-300;
            cursor: default;
        }

        &.active {
            color: $color-additional-light;
            background-color: $color-primary-400;
            border-color: $color-primary-400;
        }
    }
}

.unique-tab-intermediate {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    position: relative;
    padding: 15px;
    margin-top: 15px;
    border-radius: $border-radius;
    background-color: $color-primary-200;
}

.unique-tabs-contents {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    position: relative;
    padding: 15px 0;
}
