.nft-market {
  .ui.centered.inline.loader.active.load-more {
    margin: var(--gap) auto;
  }

  &--panel {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: 32px;
  }

  .marketplace-body {
    .collection-search-form {
      padding: 32px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      background-color: var(--card-background);
      border-radius: 4px;
      margin-bottom: 16px;

      form {
        display: grid;
        grid-template-columns: 1fr 192px;
        grid-column-gap: 24px;

        .search-results {
          font-size: 16px;
          line-height: 40px;
          margin-bottom: 0;
          margin-left: 16px;

          a {
            color: var(--error-color);
            font-weight: 500;
            margin-left: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.sort-field {
  .ui.dropdown {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

    .current {
      display: flex;
      align-items: center;
      grid-column-gap: 8px;
      color: var(--tabs-color);
    }

    .dropdown.icon {
      position: absolute;
      right: 18px;
      color: var(--tabs-color);
    }

    .menu {
      width: 100%;
      background-color: var(--card-background);

      .item {
        &.active {
          .text.current {
            color: var(--link-color);
            font-weight: normal;
          }
        }
      }
    }
  }
}

.market-pallet {
  background-color: var(--card-background);
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 32px;

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .token-card {
      word-break: break-all;
    }
  }
}

.collections-list {
  list-style: none;
  margin: 0;
  padding: var(--gap) 0;

  &__item {
    display: flex;
    margin-bottom: var(--gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: calc(var(--gap) / 2);
    border-radius: 50%;
    flex: 0 0 auto;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__name {
    color: var(--text-color);
    font: 400 14px/24px var(--font-roboto);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
  .nft-market {
    &--panel {
      .marketplace-body {
        .market-pallet {
          .market-pallet__item {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .nft-market {
    &--panel {

    }
  }
}

@media (min-width: 1025px) {
  .nft-market {
    h1.ui.header {
      display: block;

      &.mobile-header {
        display: none;
      }
    }

    &--footer {
      display: none;
    }
  }
}

.sort-main {
  display: none;
  margin-top: calc((var(--gap) / 2) * 3);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 24px;

  &.open {
    display: block;
    width: 100%;
  }

  .current {
    padding: 6px var(--gap);
    margin: 4px 0;
    display: flex;
    align-items: center;
    grid-column-gap: 4px;

    &.active {
      background-color: var(--link-light-color);
    }
  }
}

@media (max-width: 1024px) {
  .market-pallet {
    margin-left: 90px;
    width: 85%;

    &__item {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .filter-main {
    display: none;

    &.open {
      display: block;
      width: 100%;
    }
  }

  .nft-market {
    background-color: var(--card-background);

    h1.ui.header {
      display: none;

      &.mobile-header {
        display: block;
        margin: calc((var(--gap) / 2) * 3) 0 0 0;
      }
    }

    .ui.header {
      padding: 0 var(--gap);
    }

    &--panel {
      display: block;
      width: 100%;

      height: calc(100vh - 133px);
      overflow-x: hidden;
      overflow-y: auto;

      &.long {
        height: calc(100vh - 75px);
      }

      .ui.buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: calc((var(--gap) / 2) * 3) var(--gap) 0 var(--gap);

        .button {
          border: 1px solid var(--link-color);
          background-color: var(--card-background) !important;
          color: var(--link-color) !important;

          &.primary {
            border: none;
            background-color: var(--link-color) !important;
            color: var(--card-background) !important;
          }

          &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: none;
          }
          &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-left: none;
          }
        }
      }
    }

    &--footer {
      height: 60px;
      box-shadow: 0px -8px 12px rgba(0, 0, 0, 0.06);
      background-color: var(--card-background);
      padding: 10px var(--gap);

      &.hide {
        display: none;
      }

      button.ui.button.footer-button {
        border: 1px solid var(--border-color);
        background-color: var(--card-background) !important;

        &.primary {
          border: none;
          background-color: var(--link-color) !important;
          color: var(--card-background)
        }

        &.clear {
          border: 1px solid var(--error-color) !important;
          color: var(--error-color) !important;
          background-color: var(--card-background);
        }
      }
    }

    .marketplace-body {
      background-color: var(--card-background);
      padding: calc((var(--gap) / 2) * 3) var(--gap);
      display: none;

      &.open {
        display: block;
      }

      .collection-search-form {
        box-shadow: none !important;
        border: none;
        padding: 0 0 var(--gap) 0 !important;
        margin-bottom: 0;

        .ui.form {
          display: block;

          .field {
            margin-bottom: var(--gap);


            &.sort-field {
              display: none;
            }

            &.search-results {
              display: flex;
              flex-direction: row;
              grid-column-gap: var(--gap);
              line-height: 22px;
              margin: 0;

              a {
                margin: 0;
              }
            }
          }
        }
      }

      .market-pallet {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;

        .ui.card.token-card {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .market-pallet {
    margin: 40px 0 0 0;
    width: 52%;

    &__item {
      grid-template-columns: 1fr;
    }
  }
}
