.nft-market {
  .ui.centered.inline.loader.active.load-more {
    margin: var(--gap) auto;
  }

  &--panel {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: 32px;
    min-height: 100vh;
  }

  .marketplace-body {
    .collection-search-form {
      padding: 32px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      background-color: var(--card-background);
      border-radius: 4px;
      margin-bottom: 16px;

      form {
        display: grid;
        grid-template-columns: 1fr 192px;
        grid-column-gap: 24px;

        .search-field {

            .clear-icon {
              cursor: pointer;
              width: 20px;

              & svg {
                fill: var(--input-placeholder-search-color)
              }

              &:hover{
                & svg {
                  fill: var(--black-color)
                }
              }
            }
            .ui.input.ui--Input {

              input {

                &:hover {
                  border: 1px solid var(--input-border-color-hover);
                }

                &:focus {
                  outline: none;
                  border: 1px solid var(--input-border-color-outline);
                }

                &::-webkit-input-placeholder {
                  color: var(--input-placeholder-search-color);
                }

                &::-moz-placeholder {
                  color: var(--input-placeholder-search-color);
                }

                &:-ms-input-placeholder {
                  color: var(--input-placeholder-search-color);
                }

                &:active, &:focus {
                  &::-webkit-input-placeholder {
                    color: var(--input-border-color-outline);
                  }

                  &::-moz-placeholder {
                    color: var(--input-border-color-outline);
                  }

                  &:-ms-input-placeholder {
                    color: var(--input-border-color-outline);
                  }
                }
              }
              .clear-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 18px;
                transform: translateY(calc(100% - 16px));
              }
            }
        }

        .search-results {
          font-size: 16px;
          line-height: 40px;
          margin-bottom: 0;
          margin-left: 16px;

          a {
            color: var(--error-color);
            font-weight: 500;
            margin-left: 16px;
            cursor: pointer;

            &:hover{
              text-decoration: underline;
            }

            &:active{
              color:  var(--error-color-dark);
            }
          }
        }
      }
    }
  }
}

.sort-field {
  .ui.dropdown {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 16px;

    .current {
      display: flex;
      align-items: center;
      grid-column-gap: 8px;
      color: var(--black-color);
    }

    .dropdown.icon {
      position: absolute;
      right: 18px;
      color: var(--tabs-color);
    }

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .menu {
      width: calc(100% + 2px);
      left: -1px;
      background-color: var(--card-background);
      border: 1px solid var(--border-color);
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      box-shadow: none;

      .item {
        .text{
          color: var(--black-color);

          & svg {
            fill: var(--black-color);
          }
        }

        &:hover{
          background-color: transparent;
          .text{
            color: var(--link-color);

            & svg {
              fill: var(--link-color);
            }
          }
        }

        &.selected {
          background-color: transparent;
        }

        &.active, &active.selected {
          background-color: var(--link-light-color);
          .text{
            color: var(--link-color);

            &.current{
              font-weight: normal;
            }

            & svg {
              fill: var(--link-color);
            }
          }
        }
      }
    }
  }
}

.market-pallet {
  background-color: var(--card-background);
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 32px;

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .token-card {
      word-break: break-all;
    }
  }
}
.empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .no-tokens-text{
    font-family: var(--font-roboto);
    font-size: 18px;
    line-height: 26px;
    color: #81858E;
    text-align: center;
    margin-top: 24px;
  }
}

.collections-list {
  list-style: none;
  margin: 0;
  padding: var(--gap) 0;

  &__item {
    display: flex;
    margin-bottom: var(--gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: calc(var(--gap) / 2);
    border-radius: 50%;
    flex: 0 0 auto;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__name {
    color: var(--text-color);
    font: 400 14px/24px var(--font-roboto);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .nft-market {
    &--panel {
      .marketplace-body {
        .market-pallet {
          .market-pallet__item {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .nft-market {
    h1.ui.header {
      display: block;

      &.mobile-header {
        display: none;
      }
    }

    &--footer {
      display: none;
    }
  }
}

.sort-main {
  display: none;
  margin-top: calc((var(--gap) / 2) * 3);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 24px;

  &.open {
    display: block;
    width: 100%;
  }

  .current {
    padding: 6px var(--gap);
    margin: 4px 0;
    display: flex;
    align-items: center;
    grid-column-gap: 4px;

    &.active {
      background-color: var(--link-light-color);
    }
  }
}

@media (max-width: 1024px) {
  .market-pallet {
    margin-left: 90px;
    width: 85%;

    &__item {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .filter-main {
    display: none;

    &.open {
      display: block;
      width: 100%;
    }
  }

  .nft-market {
    background-color: var(--card-background);

    h1.ui.header {
      display: none;

      &.mobile-header {
        display: block;
        margin: calc((var(--gap) / 2) * 3) 0 0 0;
      }
    }

    .ui.header {
      padding: 0 var(--gap);
    }

    &--panel {
      display: block;
      width: 100%;
      margin-bottom: 60px;

      overflow-x: hidden;
      overflow-y: auto;

      .ui.buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: calc((var(--gap) / 2) * 3) var(--gap) 0 var(--gap);

        .button {
          border: 1px solid var(--link-color);
          background-color: var(--card-background) !important;
          color: var(--link-color) !important;

          &.primary {
            border: none;
            background-color: var(--link-color) !important;
            color: var(--card-background) !important;
          }

          &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: none;
          }
          &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-left: none;
          }
        }
      }
    }

    &--footer {
      height: 60px;
      box-shadow: 0px -8px 12px rgba(0, 0, 0, 0.06);
      position: fixed;
      width: 100%;
      bottom: 0;
      background-color: var(--card-background);
      padding: 10px var(--gap);

      &.hide {
        display: none;
      }

      button.ui.button.footer-button {
        border: 1px solid var(--border-color);
        background-color: var(--card-background) !important;

        &.primary {
          border: none;
          background-color: var(--link-color) !important;
          color: var(--card-background)
        }

        &.clear {
          border: 1px solid var(--error-color) !important;
          color: var(--error-color) !important;
          background-color: var(--card-background);
        }
      }
    }

    .marketplace-body {
      background-color: var(--card-background);
      padding: calc((var(--gap) / 2) * 3) var(--gap);
      display: none;

      &.open {
        display: block;
      }

      .collection-search-form {
        box-shadow: none !important;
        border: none;
        padding: 0 0 var(--gap) 0 !important;
        margin-bottom: 0;

        .ui.form {
          display: block;

          .search-field .ui--Labelled .input {
            input {
              padding: 5px calc(var(--gap) * 2) 5px 48px !important;
            }

            .search-icon {
              width: 24px;
              height: 24px;
              left: var(--gap);
              top: calc(var(--gap) / 2);
            }
          }

          .field {
            margin-bottom: var(--gap);


            &.sort-field {
              display: none;
            }

            &.search-results {
              display: flex;
              flex-direction: row;
              grid-column-gap: var(--gap);
              line-height: 22px;
              margin: 0;

              a {
                margin: 0;
              }
            }
          }
        }
      }

      .market-pallet {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;

        .ui.card.token-card {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .market-pallet {
    margin: 40px 0 0 0;
    width: 52%;

    &__item {
      grid-template-columns: 1fr;
    }
  }
}
