.nft-market {

  .market-pallet {
    background: white;
    padding: 1rem;

    .nft-tokens {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      .token-card {
        word-break: break-all;
      }
    }
  }

  .nft-tokens {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    grid-column-gap: 3px;
  }
}
