.app-upload-image {
  position: relative;
  background-color: var(--white-color);
  border-radius: calc(var(--bradius) * 2);
  border: 1px dashed var(--link-color);
  padding: 24px;
  font: 400 16px/22px var(--font-roboto);
  color: var(--title-color);
  letter-spacing: 0.2em;

  &__drop-zone {
    display: flex;
    align-items: center;
  }

  &__img {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: var(--gap);
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--error-color);
    font: 400 14px/24px var(--font-roboto);
  }

  &--dragging {
    border-color: transparent;
  }
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;

  &__name {
    font: 500 16px/22px var(--font-roboto);
    padding-right: var(--gap);
  }

  &__btn-wrapper {
    display: flex;
  }
}
