:root {
  --font-mono: 0.9em Consolas, monaco, "Ubuntu Mono", "Liberation Mono",
    "Courier New", Courier, monospace;
  --font-sans: 1em "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-bold: 700;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --width-full: 1750px;
  --width-half: 875px;
}

[data-theme="Unique"] {
  --white-color: #fff;
  --black-color: #000;
  --border-color: #ececec;
  --error-color: #ff6335;
  --error-color-dark: #E65E35 ;
  --success-color: #93ff35;
  --divider-color: #f5f5f5;
  --tabs-color: #81858e;
  --table-row-hover: #eef0f7;
  --warning-background-color: #FFF2EC;
  --warning-text-color: #FF6335;
  --info-background-color: #EBF8FF;
  --info-text-color: #66C9FF;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1366px;

  --font-roboto: "Roboto", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-raleway: "Raleway", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-inter: "Inter", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --link-color: #40bcff;
  --link-light-color: #EBF8FF;
  --bg-page: #f9faff;
  --header-background: #fff;
  --header-text-color: #000000;
  --sub-header-color: #000;
  --sub-header-font-size: 14px;
  --sub-header-text-transform: #040b1d;
  --menu-text-transform: none;
  --menu-font-size: 16px;
  --text-color: #000;
  --title-color: #040b1d;
  --button-color: #1db0ff;
  --button-background-hover: #F5FCFF;
  --button-background-active: #40ABE6;
  --button-background-filled-hover: #66C9FF;
  --input-background-color: #ffffff;
  --input-border-color-hover: #e1e1e1;
  --input-border-color-outline: #cccccc;
  --input-background-disabled-color: #fafafa;
  --input-placeholder-search-color: #81858E;
  --input-text-color: #040b1d;
  --max-header-width: 100%;
  --card-border-color: #ececec;
  --card-background: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.08);
  --card-text-color: #000;
  --card-link-color: #40bcff;
  --account-selector-background: #f9faff;
  --account-selector-name-color: #000;
  --account-selector-address-color: #000;
  --dropdown-scrollbar-color: #000;
  --modal-border-color: transparent;
  --modal-text-color: #000;
  --color-checkbox: #000;
}
